@model Week2Demo.Models.Article
@{
    ViewData["Title"] = "Create Blog Post";
}

<h1>Create Blog Post</h1>


<fieldset>

    <!-- can also use TagHelpers instead of HtmlHelpers-->

    @using (Html.BeginForm())
    {
        <!-- can add in validation and styling and niceities-->

        <p>
            @Html.LabelFor(x => x.Author)
            @Html.EditorFor(x => x.Author)
        </p>

        <p>
            @Html.LabelFor(x => x.Title)
            @Html.EditorFor(x => x.Title)
        </p>

        <p>
            @Html.LabelFor(x => x.Body)
            @Html.TextAreaFor(x => x.Body)
        </p>

        <button type="submit">Create Post</button>

    }


</fieldset>